body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../imagen/reg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #DCDCDC;
    margin-top: 150px;
    padding: 5px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    
}
.button{
    border: none;
    width: 100%;
    color: black;
    font-size: 20px;
    background:  #145177;
    padding: 15px 200px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #000000;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
.index{
  list-style: none;
  padding: 0px;
  background: #145177;
  width: 100%;
  max-width: 2500px;
  margin: center;
}

.index li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.index li{
  display: inline-block;
  text-align: center;
}

.index li a:hover{
  background: #BA6A3F;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}